<!-- The HTML code for the Treelo quickstart users guide. This is intended to be a basic overview of the program to get users started. It
is broken into two main sections: Navigation and Functionality. -->
<h1 style="text-align: center; font-size: 50px;"><strong>Treelo Quickstart Guide</strong></h1>
<hr />
<div style="font-size: 25px">
    <p style="text-align: center;"><strong>Welome to Treelo, the tree based organizational software!</strong></p>
    <p><strong>Getting started:</strong></p>
    <ul style="list-style-type: circle;">
        <li><strong>Navigation:</strong>
            <ul style="list-style-type: disc;">
                <li>The Treelo page has three main and important components: the <strong>Tree View</strong>,
                    <strong>Navigation Sidebar</strong>, the
                    <strong>Members Sidebar</strong>, and the<strong> Context Menu</strong>.
                    <ul style="list-style-type: square;">
                        <li><strong>Tree View:</strong> The Tree View is the main focus of the Treelo page. It displays
                            each tree you
                            have
                            created one tree at a time.&nbsp;
                            <img src="images/TreeView.png" alt="The Tree View Side Navigation Bar" width="100%">
                        </li>

                        <li>
                            </trong>Tree Navigation Sidebar:</strong> The Navigation Sidebar can be opened by clicking
                            the Treelo <strong>Menu</strong>
                            button
                            shown below.
                            <img src="images/TreeNav.png" alt="The Tree View Side Navigation Bar" width="100%">
                            This sidebar will have buttons corresponding to all of the trees you have
                            created
                            or have access to edit/view. It also contains the options to logout, create a new tree, and
                            view this
                            quickstart guide.
                            <img src="images/TreeNavOpen.png" alt="The Tree View Side Navigation Bar" width="100%">
                        </li>
                        <li><strong>Members Sidebar:</strong> You can open the members sidebar clicking the
                            <strong>Members</strong> button as shown below.
                            <img src="images/OpenShareNav.png" alt="The Tree View Side Navigation Bar" width="100%">
                            The members sidebar contains all of the shared views for the current tree
                            that
                            you are viewing. Simply put, this means that when you share any portion of a tree with an
                            individual, a button will appear here which, when clicked, will show you what view the
                            person
                            that you shared with can see.&nbsp;
                            <img src="images/SideShareNav.png" alt="The Tree View Side Navigation Bar" width="100%">
                        </li>
                        <li><strong>Context Menu: </strong>The Context Menu is not present until a node within a tree is
                            right-clicked. This action
                            opens
                            the menu and from there, there are many options. These include adding a card, deleting a
                            card,
                            sharing a tree, and setting a card as the focus node. This will be detailed later in this
                            guide.&nbsp;
                            <img src="images/ContextMenu.png" alt="The Tree View Side Navigation Bar" width="100%">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><strong>Functionaility:</strong>
            <ul style="list-style-type: disc;">
                <li><strong>Creating your first tree:</strong>
                    <ul style="list-style-type: square;">
                        <li>If you are new to Treelo, the first step is to create a tree. To do so navigate to the
                            Treelo
                            <strong>Tree Navigation Bar</strong> and click the <strong>'Create New Tree'</strong> button
                            located at the top of the
                            sidebar as
                            shown.
                            <img src="images/CreateTree.png" alt="The Tree View Side Navigation Bar" width="100%">
                            This opens a popup for creating a new tree. Fill out the information for both the
                            tree
                            <strong>Title</strong> and <strong>Description</strong> and hit <strong>Submit.</strong>
                            <img src="images/CreateTreePopup.png" alt="The Tree View Side Navigation Bar" width="100%">
                            Note: if you do not fill out
                            both
                            the title and description fields, the tree will not be created. To cancel creation of a
                            tree,
                            simply hit the&nbsp;<strong>Cancel&nbsp;</strong>button.&nbsp;
                        </li>
                    </ul>
                </li>
                <li><strong>Editing Trees:</strong>
                    <ul style="list-style-type: square;">
                        <li><strong>Adding Nodes:</strong>
                            <ul style="list-style-type: square;">
                                <li>You have many options when it comes to editing your newly created trees. Firstly,
                                    you
                                    can add nodes by right clicking on the node you wish to add a node from. This will
                                    open
                                    the <strong>Context Menu</strong> as described above in the
                                    <strong>Navigation</strong> section of
                                    this
                                    guide. From here you can click the&nbsp;<strong>Add Node</strong> button and a new
                                    node
                                    will be added as the child of the selected node.&nbsp;
                                    <img src="images/AddNode.png" alt="The Tree View Side Navigation Bar" width="100%">
                                </li>
                            </ul>
                        </li>
                        <li><strong>Deleting Nodes:</strong>
                            <ul style="list-style-type: square;">
                                <li>To delete a created node/card simply open the <strong>Context Menu</strong> as
                                    described above and
                                    click
                                    the&nbsp;<strong>Delete Card</strong> button.&nbsp;</li>
                                    <img src="images/DeleteCard.png" alt="The Tree View Side Navigation Bar"
                                    width="100%">
                                <li>Note: if the node/card that you wish to delete is the root of the tree, the entire
                                    tree
                                    will be deleted. Also any children of the node you delete will also be deleted.
                                </li>
                            </ul>
                        </li>
                        <li><strong>Sharing Trees:</strong>
                            <ul style="list-style-type: square;">
                                <li>To share a tree from a certain point, simply open the <strong>Context Menu</strong>
                                    and click
                                    the&nbsp;<strong>SHARE</strong> button as shown.
                                    <img src="images/Share.png" alt="The Tree View Side Navigation Bar" width="100%">
                                    This will open the share popup which will
                                    prompt
                                    you to input the email of the user which you want to share the tree with.
                                    Hit&nbsp;<strong>Submit&nbsp;</strong>to share the tree
                                    and&nbsp;<strong>Cancel</strong>
                                    to close the popup.&nbsp;
                                    <img src="images/SharePopupMenu.png" alt="The Tree View Side Navigation Bar"
                                        width="100%">
                                </li>
                                <li>Note: the user that you shared the tree with will only be able to see/edit from the
                                    node
                                    at which you shared from. They will not have access to higher level parent nodes.
                                </li>
                            </ul>
                        </li>
                        <li><strong>Setting a Node as the Focus:</strong>
                            <ul style="list-style-type: square;">
                                <li>To set a node as the focus, or to make the current node the root node for visual
                                    purposes,
                                    simply open the <strong>Context Menu</strong> and click the&nbsp;<strong>Set Focus
                                        Card?</strong>
                                    button.
                                    This will make the selected node appear to be the root node, thus 'zooming' in on a
                                    section of the tree for better, clearer viewing.
                                    <img src="images/FocusCard.png" alt="The Tree View Side Navigation Bar"
                                        width="100%">
                                    Note: This will also make a <strong>Return From Focus</strong> button appear within
                                    the <strong>Context Menu</strong> which will
                                    return you to the original tree.
                                </li>
                            </ul>
                        </li>
                        <li><strong>Editing Node/Card information:</strong>
                            <ul style="list-style-type: square;">
                                <li>To edit node/card information simply double click any node. This will open the card
                                    information modal.
                                    <ul style="list-style-type: square;">
                                        <li><strong>Editing title/description:</strong>
                                            <ul style="list-style-type: square;">
                                                <li>To edit the title or descrition of a node/card simply click on the
                                                    current description/title and a text area will open. From there you
                                                    can
                                                    edit what you wish.
                                                </li>
                                            </ul>
                                        </li>
                                        <img src="images/ChangeDescTitle.png" alt="The Tree View Side Navigation Bar"
                                            width="100%">
                                        <li><strong>Removing shared users:</strong>
                                            <ul style="list-style-type: square;">
                                                <li>To remove shared users simply find the&nbsp;<strong>Members</strong>
                                                    section within
                                                    the card information modal. Each member will have an
                                                    <strong>'x'</strong> next to their name
                                                    to unshare a tree with them, simply click that button as shown.
                                                    &nbsp;</strong></li>
                                            </ul>
                                        </li>
                                        <img src="images/RemoveShared.png" alt="The Tree View Side Navigation Bar"
                                            width="100%">
                                        <li><strong>Edit Due Date:</strong>
                                            <ul style="list-style-type: square;">
                                                <li>To edit the due date, simply type a valide date and time into the
                                                    <strong>Due Date</strong> Section or use
                                                    your browsers built in calendar as shown.
                                                </li>
                                            </ul>
                                        </li>
                                        <img src="images/DueDateEdit.png" alt="The Tree View Side Navigation Bar"
                                            width="100%">
                                        <li><strong>Mark Complete/Incomlete:</strong>
                                            <ul style="list-style-type: square;">
                                                <li>To mark a card complete or incomplete, simply click the
                                                    <strong>Incomplete/Mark Complete </strong>
                                                    button as shown. The button will change based on whether a card is
                                                    marked complete or incomplete.
                                                </li>
                                            </ul>
                                        </li>
                                        <img src="images/ToggleComplete.png" alt="The Tree View Side Navigation Bar"
                                            width="100%">
                                        <li><strong>Save Changes:</strong>
                                            <ul style="list-style-type: square;">
                                                <li>It is important to note that changes to the title, description, and
                                                    due date will not be saved
                                                    unless you click the <strong>Save Changes</strong> button as shown.
                                                </li>
                                            </ul>
                                        </li>
                                        <img src="images/SaveChanges.png" alt="The Tree View Side Navigation Bar"
                                            width="100%">

                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
<br><strong>Still have questions? Email: bgb31@case.edu or tkg11@case.edu for help and support.</strong>

</div>