/* The Tree Diagram Stlying */
#tree-div{
    width: 100%;
    height: 760px;
    align-content: center;
    border:0px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

/* The Hover Acion for Submitting New Share Data */
#submit:hover{
    background-color: lightgreen;
}

/* The Hover Acion for Submitting New Tree Data */
#submit1:hover{
    background-color: rgba(173, 236, 173, 0.815);
}

/* The Hover Action for Canceling New Tree Data Submission */
#cancel:hover{
    background-color: rgba(243, 158, 158, 0.952);
}

/* The Card Preview Styling */
#card-preview{
    position: fixed;
    height: 10%;
    width: 10%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 5px black;
    text-align: center;
    background: white;
}

/* The Styling for the Section Holding the Tree Diagram */
svg{
    overflow: visible;
    width: 100%;
    height: 100%;
    display: block;
}

svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

/* Each Tree Node Styling */
.node {
    cursor: pointer;
}

/* The Styling for the Circles that Represent Each Node */
.node circle {
    fill: #fff;
    stroke: black;
    stroke-width: 2px;
}

/* The Styling for the Text that are Appended to Each Node */
.node text {
    font: 12px sans-serif;
}

/* The Styling for the Links Connecting Each Node Together */
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

/* The Styling for the Tree Side Navigation Bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 113, 179);
    overflow-x: hidden;
    overflow-y:hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-bottom: 50px;
    box-shadow: 0 0 15px black;
}

#sideNavButtons{
    overflow-y: auto;
    overflow-x: hidden;
    height:90%;
}

/* The Styling for the Modal Representing Card Information */
#modal-description{
    max-height: 500px;
    overflow-y: auto;
}

/* The Styling for the Exit Button of the Tree Side Navigation */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* The Styling for the Exit Button Within the Tree Side Navigation */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The Hover Action for the Closing Button of the Tree Side Navigation */
.sidenav button{
    display: 'block';
    width: 200px;
    color: black;
    background-color: white;
    border-radius: 10%;
}

/* The Hover Action for the Buttons within the Tree Side Navigation Bar */
.sidenav button:hover{
    background-color: lightgreen;
    outline: white;
    cursor: pointer;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

#navBar {
    width:100%;
    height:80px;
    background-color: rgb(0, 113, 179);
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* The Styling for the Tree Side Navigation Bar */
#treeNav {
    width: 15%;
    transition: margin-left .5s;
    padding: 16px;   
    float:left;
}

#title {
    margin-left: 31%;
    height:100px;
    padding: 14px;
    font-weight:100;
    float: left;
    font-family: 'Lobster', cursive;
}

/* The Styling for the Share Side Navigation Bar */
#shareNav {
    transition: margin-right .5s;
    height:100px;
    width: auto;
    padding: 16px;
    float: right
}

#currentTreeShared{
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x:hidden;
    right: 8%;
}

#currentTreeShared button{
    float: right;
}

/* The Styling for the Right Click Context Menu */
#context-menu{
    width: auto;
    height: auto;
    box-shadow: 0 0 20px 0 gray;
    position: absolute;
    display: none;
}

/* More Styling for the Right Click Context Menu */
#context-menu ul{
    padding: 0px 0px 0px 0px;
}

/* General Styling for the Buttons Within the Right Click Context Menu */
#context-menu ul button{
    padding: 10px 5px 10px 5px;
    text-align: center;
    width: 95px;
    height:auto;
    background: white;
    border:none;
    font-weight: bold;
    font-size: 10px;
}

/* The Action Styling for the Add Node Button Within the Right Click Context Menu */
#context-menu ul #add-node-mode:hover{
    background: lightgreen;
}

/* The Action Syling for the Add Node Button Within the Right Click Context Menu */
#context-menu ul #share-tree:hover{
    background: green;
}

/* The Action Syling for the Remove Node Button Within the Right Click Context Menu */
#context-menu ul #remove-node:hover{
    background: rgb(206, 71, 71);
}

/* The Action Syling for the Set Focus Node Button Within the Right Click Context Menu */
#context-menu ul #focus-node:hover{
    background: rgb(228, 176, 81);
}

/* The Action Syling for the Return From Focus Node Button Within the Right Click Context Menu */
#context-menu ul #return-focus{
    background: orange;
}

/* The General Action Styling for the Context Menu Buttons */
#context-menu ul button:hover{
    background: lightgray;
    outline: white;
    cursor: pointer;
    border-left: 4px solid black;
 
}

/* The Styling for the Create New Tree Popup Button */
#create-tree{
    position: absolute;
    left: 5%;
    bottom: 2.8%;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    text-align: center;
    background: white;
}

/* The Action Styling for the Create New Tree Popup Button */
#create-tree:hover{
    background: lightgreen;
}

#show-quickstart{
    position: absolute;
    left: 5%;
    bottom: 7%;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    text-align: center;
    background: white;
}
  
/* The Styling for the New Tree Form */
.newtreeform{
    position: absolute;
    display: none;
    width: 90%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    text-align: center;
    background: white;
    right:0;
    padding: 5px;
}
/* The Styling for the Text Box for Entering New Tree Title */
#titleText{
    width: 25%
}

/* The Styling for the Text Box for Entering New Tree Description */
#description{
    width: 25%;
}

/* The Styling for the Share Tree Form */
.sharetreeform{
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 5px black;
    text-align: center;
    background: white;
    padding: 5px;
}

/* The Styling for the Trees Shared Navigation Bar */
.sideshare {
    /* TUCKER */
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 77px;
    right: 0;
    border-radius:0px 0px 0px 25px;
    background-color:  rgb(0, 113, 179); 
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 0 10px black;

    /*BEN*/
    /* height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0;
    background-color: rgb(0, 113, 179);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 0 10px black; */
}

/* Styling for the Trees Sharing Navigation Bar Close Button */
.sideshare a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    right: 0;
}

/* The ACtion Styling for the Close Button of the Trees Shared Side Navigation */
.sideshare a:hover {
    color: #f1f1f1;
}

/* More Styling for the Close Button for the Trees Shared Side Navigation */
.sideshare .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* Styling for Each Button Within the Trees Shared Side Navigation Bar */
.sideshare button{
    /* display: inline-block;
    width: 200px;
    color: black;
    background-color: white;
    border-radius: 10%; */
    width:200px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* The Styling for the Footer of the Trees Shared Side Navigation Bar for the Return From Focus Button */
#shareFooter{
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 10px;
}

/* Styling for the Return From Focus Button within the Trees Shared Side Navigation Bar */
#return{
    height: auto;
    width: 100px
}

/* The Styling for the Action for the Return From Focus Button within the Trees Shared Side Navigation Bar */
#return:hover{
    background-color: gold;
}

/* The General Action Syling for Buttons within the Trees Shared Side Navigation Bar */
.sideshare button:hover{
    background-color: lightgreen;
    outline: white;
    cursor: pointer;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

/* The Styling for the Due Date Section of the Card Information Modal */
#duedate{
    position: absolute;
    right: 10px;
    top: 6%;
}

/* The Styling for the Description in the Card Information Modal */
#description-span{
    resize:none;
    position: relative;
    width: 90%;
    height: 500px;
    left: 5%;
}

/* The Label Styling for the Description in the Card Information Modal  */
#desc-label{
    position: relative;
    left:2%;
}

/* The Label Styling for the Shared Members Section in the Card Information Modal  */
#members-label{
    position: relative;
    left:2%;
}

/* The Styling for the Shared Members Section in the Card Information Modal  */
#members{
    resize:none;
    position: relative;
    width: 90%;
    left: 5%;
}

/* The Animation for Blinking a Node When it is Newly Added */
@keyframes addblink{
    0%{
        r: 10;
    }
    25%{
        r:15;
    }
    50%{
        r:10;
        fill: green;
    }
    75%{
        r:15
    }
    100%{
        r:10
    }
}

/* The Animation for Blinking a Node when it is Marked as Done */
@keyframes doneblink{
    0%{
        opacity: 1;
        r: 10;
    }
    25%{
        opacity: .75;
        r:15;
    }
    50%{
        opacity: 1;
        r:10;
    }
    75%{
        opacity: .75;
        r:15
    }
    100%{
        opacity: 1;
        r:10;
        fill:lightgreen;
    }
}

/* The Animation for Blinking a Node when it is Set as the Focus Node */
@keyframes focusblink{
    0%{
        r: 10;
    }
    25%{
        r:15;
    }
    50%{
        opacity: 1;
        r:10;
        fill: rgb(228, 176, 81);
    }
    75%{
        r:15;
    }
    100%{
        r:10;
        }
}

/* The Animation for Fading in the Card Preview */
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}